:root {
    --font-one: 'Frank Ruhl Libre', serif;
    --font-two: 'Slabo 27px', serif;
}


* {
    box-sizing: border-box;
}

body {
    margin: 1rem auto;
    max-width: 90%;
    font-family: var(--font-two)
}


header,
footer {
    /* background-color: rgba(144, 238, 144, 0.85); */
    background-color: #9DC5BB;
    text-align: center;
    font-family: var(--font-one);
}

footer>p {
    padding: 2%;
}

h1,
h2,
h3 {
    padding: 2%;
}

h2 {
    background-color: #DEE5E5;
}

h3 {
    background-color: #DEE5E5;
}

img {
    display: block;
}