:root {
    --color-one: #DEE5E5;
    --color-two: #9DC5BB;
    --color-three: #17B890;
    --color-four: #5E807F;
    --color-five: rgba(0, 0, 0, 0.85);
    --color-six: #339AF0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem auto;
    max-width: 60%;
}

#menu-btn:before {
    content: "≡";
}

#menu-btn {
    display: block;
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: var(--color-six);
    padding: 5px 10px;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    display: none;
    text-decoration: none;
    color: var(--color-six);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 1rem;
    z-index: 10;
}

header,
footer {
    background-color: var(--color-five);
}

nav a:hover, 
nav a:active {
    text-decoration: underline;
}

#menu-btn.open::before {
    content: "x";
    font-size: 3rem;
}

.open a {
    display: block;
}

nav.open {
    gap: 20px;
}

#menu {
    text-align: right;
}

#icon {
    display: block;
    width: 120px;
    height: 120px;
}

#menu,
#icon {
    padding: 1rem;
}

picture > img {
    width: 100%;
    max-height: 15%;
    height: 400px;
}

/* .image-container:hover {
    filter: blur(5px);
} */



#image-wrapper {
    position: relative;
    height: 26.5rem;
}


.image-container {
    position: absolute;
    width: 100%;
    z-index: -1;
}


#welcome {
    display: grid;
    z-index: -1;
}


#welcome h1 {
    font-size: 2rem;
    font-family: cursive;
    padding: 0 0 .5rem 0.5rem;
    background-color: var(--color-five);
    color: var(--color-one)
}

#welcome span {
    color: var(--color-six);
}

#welcome p,
.the-aside p {
    line-height: 1.5;
    padding: .2rem;
    text-align: center;
    margin: 0.5rem 0;
}

.btn-lnk {
    text-decoration: none;
    margin: 0 auto 0.5rem;
    border: 1px solid black;
    border-radius: .7rem;
    padding: 1.5%;
    font-weight: 600;
    box-shadow: 1px 2px .5px .5px var(--color-five);
}

.btn-lnk:visited,
.btn-lnk:active {
    color: black;
}

footer {
    height: 4rem;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--color-six);
    padding: .5rem;
    text-align: center;
}

hr {
    margin: 1.5rem 0;
}

h2 {
    font-size: 1.5rem;
    font-family: cursive;
    padding: 0 0 .5rem 0.5rem;
    background-color: var(--color-five);
    color: var(--color-one)  
}


#dine,
#private-dining {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#menu-items {
    border: 1px solid var(--color-five);
    margin: 1rem auto;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}

.forward,
.shy {
    display: grid;
    gap: 1rem;
    margin: .5rem;
}

.name-items,
#menu-h {
    font-family: cursive;
}

form {
    padding: 5%;
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    border: 1px solid var(--color-five);
    border-radius: 1rem;
}

label,
input[type="text"],
input[type="email"],
textarea {
    display: block;
    padding: .5rem;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 0.5em;
    font-size: 1rem
}

#radio-btn {
    display: flex;
}

#form-main {
    margin: 1rem auto;
    max-width: 80%;
}


input[type="submit"] {
    padding: 0.5em 1em;
    font-size: 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: cursive;
}


