@media only screen and (min-width: 1000px) {

    main {
        margin: 0 6rem;
    }

    picture > img {
        height: 500px;
    }

    #image-wrapper {
        height: 32.5rem;
    }


    #dining {
        display: block;
        width: 300px;
        height: auto;
    } 

    .the-aside {
        text-align: center;
        margin-left: .5rem;
    }

    .the-aside p {
        line-height: 1.1; 
        padding: .2rem;
        text-align: center;
        margin: 0.5rem 0;
    }
    
    #dine {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    #private-dining {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        height: 250px;
        padding: 0 .5rem;

    }
    
}




