@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vidaloka&display=swap');

:root {
    --font-one: 'Vidaloka', serif;
    --font-two: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px auto;
    width: 80%;
    max-width: 900px;
    height: 100%;

    display: grid;
    grid-template-areas:
        "a a a"
        "b b b"
        "c c c";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 0.5fr;

}

body>header {
    grid-area: a;
}


body>main {
    grid-area: b;
    display: grid;
    grid-template-areas:
        "d d _ e"
        "d d _ e";
    grid-template-columns: 1fr 1fr 10px 1fr;
    text-align: center;
    padding: 10px 0;
}


body>footer {
    grid-area: c;
}

body>main>section>p {
    padding: 5px;
}

body>main>section:first-child {
    grid-area: d;
    text-align: left;
}

body>main>section:last-child {
    grid-area: e;
}

img {
    width: 200px;
    height: auto;
    padding: 2px;
    float: right;
    box-shadow: 0 0 30px grey;
    margin: 10px 3px 5px 5px;
}

img:last-of-type
{
    float: left;
    width: 150px;
    height: auto;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    background-color: black;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}


header>h1 {
    background-color: darkslategrey;
    text-align: center;
    color: rgba(247, 245, 245, 0.856);
    padding: 10px 0;
}

main section>h2 {
    background-color: darkslategrey;
    color: rgba(247, 245, 245, 0.856);
    text-align: center;
}

header h1>span {
    color: yellowgreen;
}

footer {
    background-color: darkslategrey;
    display: grid;
    text-align: center;
    color: white;
}

footer>p:first-child {
    margin-top: 10px;
}

footer>p:last-child {
    margin-bottom: 10px;
}

h1,
h2 {
    font-family: var(--font-one);
    padding: 5px 0;
}

nav>a:hover {
    background-color: darkolivegreen;
}

p {
    font-family: "Arial Narrow", Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 30px;
    text-align: left;
}

ul>li>a {
    text-decoration: none;
}

