:root {
    --fontCn: "Frank Ruhl Libre", serif;
    --fontHd: "Slabo 27px", serif;
    --colorHd: #00247D;
    --colorSd: #FF0000;
    --ColorMd: #FFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--fontCn);
}